<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="metaform" value="https://nuget.pkg.github.com/metaform/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="barnstee" />
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
    </github>
  </packageSourceCredentials>
</configuration>