@using Opc.Ua.Cloud.Library.Models
@using Opc.Ua.Cloud.Library.Components.Pages
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Browser";
}

@model BrowserModel

@(await Html.RenderComponentAsync<TreePage>(RenderMode.ServerPrerendered, new {
    NodesetIdentifier = Model.NodesetIdentifier,
    NodesetName = Model.NodesetName,
    UserName = Model.UserName
}).ConfigureAwait(false))

<div style="height:100%">
    <div class="uacl-container">
        <div class="uacl-content">
            <div class="container">
                <p>
                    <div class="col-12 row">
                        <div class="col-6">
                            <div class="card h-100">
                                <div class="card-header">
                                    @using (Html.BeginForm("Download", "Browser", Model))
                                    {
                                        <b>Download node values</b>
                                        <input id="downloadButton" class="btn btn-primary btn_browser" style="float: right" type="submit" value="Download" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card h-100">
                                <div class="card-header">
                                    @using (Html.BeginForm("Save", "Browser", Model))
                                    {
                                        <b>Save node values</b>
                                        <input id="saveButton" class="btn btn-primary btn_browser" style="float: right" type="submit" value="Save" />
                                    }
                                    @Model.StatusMessage
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .uacl-content .card .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .page-item {
        cursor: pointer;
    }
</style>
