@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">OPC Foundation UA Cloud Library</h1>
</div>
<div>
    <p>
        <br />
        <br />
        Welcome to the global instance of the UA Cloud Library hosted by the OPC Foundation. The Swagger REST interface is located <a href="./swagger">here</a>
    </p>
</div>
