@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">OPC Foundation UA Cloud Library</h1>
</div>
<div>
    <p>
        <br />
        <br />
        <b>Welcome to the global instance of the UA Cloud Library hosted by the OPC Foundation!</b>
        <br />
        <br />
        The <b>CloudLib Explorer</b> is located <a href="./Explorer">here</a>.
        <br />
        <br />
        The <b>Swagger</b> UI is located <a href="./swagger">here</a>.
        <br />
        <br />
        The <b>GraphQL Playground</b> is located <a href="./graphqlui">here</a>.
        <br />
        <br />
        The <b>GraphiQL Editor</b> is located <a href="./graphiql">here</a>.
        <br />
        <br />
        <b>Uploading OPC UA Information Models</b> can be achieved using the UANodesetWebViewer tool available <a href="https://github.com/digitaltwinconsortium/UANodesetWebViewer">here</a>.
        <br />
        <br />
        If you want to <b>access the UA Cloud Library from your own software</b>, source code for a client implementation can be found <a href="https://github.com/OPCFoundation/UA-CloudLibrary/tree/main/SampleConsoleClient">here</a>.
    </p>
</div>
