@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">OPC Foundation UA Cloud Library</h1>
</div>
<div>
    <p>
        <br />
        <br />
        <b>Welcome to the global instance of the UA Cloud Library hosted by the OPC Foundation!</b><br />
        <br />
        <br />
        The <b>Swagger</b> UI is located <a href="./swagger">here</a>.
        <br />
        <br />
        The <b>GraphQL</b> UI is located <a href="./graphqlui">here</a>.
    </p>
</div>
