@{
    ViewData["Title"] = "Home";
}


<div class="row">
    <div class="col-12 pb-2 mb-4 border-bottom">
        <h1 class="mt-3">Welcome to the OPC Foundation UA Cloud Library</h1>
        <p>
            The UA Cloud Library is hosted by <a href="https://www.OPCFoundation.org/">the OPC Foundation</a>.
            It contains curated OPC UA Information Models (often released as part of OPC UA Companion Specifications) created by the OPC Foundation, its collaboration partners, or its members.
            Get started by using any of the tools and resources below!
        </p>
    </div>
</div>
<div>
    <h2>Explore UA Cloud Library Tools:</h2>
</div>

<div class="row mb-4">
    <div class="col-md-4 pb-4 tile">
        <a href="https://profiledesigner.cesmii.net" class="tile-link" target="_blank" rel="noopener noreferrer">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/CESMII-icon.png" alt="CESMII-icon">
                        <span class="title">CESMII Profile Designer</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                The CESMII Profile Designer lets you view and edit OPC UA Information Models (a.k.a. CESMII Smart Manufacturing Profiles). You can browse and import profiles from the UA Cloud Library for use in your own profiles, and you can submit your profiles for publication into the UA Cloud Library.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 pb-4 tile">
        <a href="https://marketplace.cesmii.net/library" class="tile-link" target="_blank" rel="noopener noreferrer">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/CESMII-icon.png" alt="CESMII-icon">
                        <span class="title">CESMII Marketplace</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                The CESMII Marketplace helps you discover applications, products and services for specific node sets, profiles and industries.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 pb-4 tile">
        <a href="./explorer" class="tile-link">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/OPC UA Logo square.png" alt="OPC Foundation-icon">
                        <span class="title">UA Cloud Library Explorer</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                The UA Cloud Library Explorer displays high level nodeset information. You can search, download or view more info about any nodeset in the library.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div>
    <h2>Explore UA Cloud Library Developer Resources:</h2>
</div>
<div class="row mb-4">
    <div class="col-md-4 pb-4 tile">
        <a href="./swagger" class="tile-link">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/swagger-icon.png" alt="swagger-icon">
                        <span class="title">HTTP REST API Swagger</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                The UA Cloud Library's HTTP REST API is described as an OpenAPI. This Swagger UI lets you explore the API and execute API calls within the Swagger page.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 pb-4 tile">
        <a href="./graphqlui" class="tile-link">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/graphql-playground-icon.png" alt="graphql-playground-icon">
                        <span class="title">GraphQL Playground</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                The GraphQL Playground lets you view the GraphQL schema and execute calls to the UA Cloud Library GraphQL API.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 pb-4 tile">
        <a href="./graphiql" class="tile-link">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/graphql-editor-icon.png" alt="graphql-editor-icon">
                        <span class="title">GraphiQL Editor</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                The GraphQL Editor (aka GraphiQL) lets you explore and execute calls to the UA Cloud Library GraphQL API. You can interactively assemble queries, perform mutations, explore fields, etc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 pb-4 tile">
        <a href="https://github.com/OPCFoundation/UA-CloudLibrary/tree/main/Opc.Ua.CloudLib.Client" class="tile-link" target="_blank" rel="noopener noreferrer">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/OPC UA Logo square.png" alt="cloudlibrary-client-sdk">
                        <span class="title">Client SDK for .Net</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                If you want to access the UA Cloud Library from your own software, a .Net Client SDK can be found on Github.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 pb-4 tile">
        <a href="https://github.com/OPCFoundation/UA-CloudLibrary/tree/main/SampleConsoleClient" class="tile-link" target="_blank" rel="noopener noreferrer">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/windows-terminal.png" alt="cloudlibrary-viewer-icon">
                        <span class="title">Sample Console Client (.Net)</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                If you want to access the UA Cloud Library from your own software, source code for a client implementation can also be found on Github.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 pb-4 tile">
        <a href="https://github.com/opcfoundation/UA-CloudViewer" class="tile-link" target="_blank" rel="noopener noreferrer">
            <div class="h-100 border-0 mb-0 card">
                <div class="h-100 p-0 tile-body card-body">
                    <div class="card-img-top p-2 d-flex align-items-center font-weight-bold">
                        <img class="mr-2" src="images/OPC UA Logo square.png" alt="cloudlibrary-viewer-icon">
                        <span class="title">UA Cloud Viewer</span>
                    </div>
                    <div class="body-content px-4 py-2 pb-0">
                        <div class="card-text mb-0">
                            <p>
                                Uploading OPC UA Information Models can be achieved using the UA Cloud Viewer tool available on Github.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
