@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">CESMII UA Cloud Library</h1>
</div>
<div>
    <p>
        <br />
        <br />
        <b>Welcome to the UA Cloud Library hosted by <a href="https://www.cesmii.org/">CESMII</a>, the Clean Energy Smart Manufacturing Institute!</b>
        <br />
        <br />
        This Cloud Library contains curated node sets created by CESMII or its member, as wel as most node sets from the <a href="https://uacloudlibrary.opcfoundation.org/">OPC Foundation Cloud Library</a>.
        <br />
        <br />
        The <b>Swagger</b> UI is located <a href="./swagger">here</a>.
        <br />
        <br />
        The <b>GraphQL Playground</b> is located <a href="./graphqlui">here</a>.
        <br />
        <br />
        The <b>GraphiQL Editor</b> is located <a href="./graphiql">here</a>.
        <br />
        <br />
        <b>Uploading OPC UA Information Models</b> can be achieved using the UANodesetWebViewer tool available <a href="https://github.com/digitaltwinconsortium/UANodesetWebViewer">here</a>.
        <br />
        <br />
        If you want to <b>access the UA Cloud Library from your own software</b>, source code for a client implementation can be found <a href="https://github.com/OPCFoundation/UA-CloudLibrary/tree/main/SampleConsoleClient">here</a>.
    </p>
</div>
