@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    var _reCaptchaUrl = $"{@Model.CaptchaSettings.ClientApiUrl}{@Model.CaptchaSettings.SiteKey}";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="resetForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="CaptchaResponseToken" class="text-danger"></span>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CaptchaResponseToken" id="CaptchaResponseToken" />
            @if (!Model.CaptchaSettings.Enabled)
            {
                <button id="resetSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            }
            else
            {
                <button id="resetSubmit" type="button" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @if (Model.CaptchaSettings.Enabled)
    {
        <script src='@_reCaptchaUrl'></script>
        <script>

            function reCaptchaExecute() {
                grecaptcha.execute('@Model.CaptchaSettings.SiteKey', { action: 'register' }).then(function (token) {
                    //populate token value in hidden field
                    document.getElementById("CaptchaResponseToken").value = token;
                    //submit form
                    $('#resetForm').submit();
                });
            }

            //wire up reset button to execute reCaptcha before submitting
            const btnResetSubmit = document.getElementById("resetSubmit");
            btnResetSubmit.addEventListener('click', reCaptchaExecute, false);
            //Note - if run on load, the token expires after 2 mins
        </script>
    }
}
