name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Get the tags version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF##*/}
    - name: Get the repo name (lower case)
      id: get_repo
      uses: ASzc/change-string-case-action@v1
      with:
        string: ${{ github.repository }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/checkout@v2
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        push: true # Will only build if this is not here
        file: UACloudLibraryServer/Dockerfile
        tags: |
          ghcr.io/${{  steps.get_repo.outputs.lowercase }}:${{ steps.get_version.outputs.VERSION }}
          ghcr.io/${{ steps.get_repo.outputs.lowercase }}:latest
